#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logoImg {
  padding: 0.5em;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.qrCodeBox {
  margin: 1em;
  padding: 1em;
}

.qrCodeResult {
  margin: 1em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}
